body {
    background-color: #000; 
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 20px; 
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    border: 2px solid transparent; 
}

.navbar a:hover {
    border: 2px solid #e50914;
}

.container a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

.container a:hover {
    color: #e50914; 
}

.flex-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent; 
}

.flex-list li:hover {
    background-color: #333;
    border: 2px solid #e50914; 
}

.flex-list a {
    color: #fff;
    text-decoration: none;
}


h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px; 
    margin-bottom: 20px;
}

h2 {
    font-size: 30px; 
    margin-bottom: 10px;
}

ul {
    font-size: 18px; 
    margin-bottom: 20px;
}

.flex-list li img {
    width: 50px; 
    height: 50px; 
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #222; 
    color: #aaa; 
    font-size: 14px; 
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444; 
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    opacity: 0.7;
    display: none;
}

#backToTopBtn:hover {
    background-color: #555; 
}

#backToTopBtn.show {
    display: block;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #333; 
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    text-align: center;
}

.popup-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 18px;
    margin-bottom: 8px;
}

.popup-content button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #bf0d1c; 
}

.popup-content a {
    color: #e50914; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.popup-content a:hover {
    color: #bf0d1c; /
}
.social-links {
    display: flex;
    gap: 10px; 
}

.social-link {
    display: inline-block;
}
